@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f1f1;
}

.app-header {
  text-align: center;
}


.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

.container{
  max-width: 25%;
  background-color: white;
  padding: 1rem;
  margin: 3rem auto;
}

.box{
  display: flex;
  flex-direction: column;
}

.inputBox{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.captchaBox{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imgWrap{
  display: flex;
  justify-content: space-around;
  min-width: 49%;
}
.img{
  max-width: 90%;
  height: 2rem;
}
